//- template/head.jade
head(lang="ru")
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Gulp Boilerplate 2.0
	meta(name="viewport", content="width=device-width")
	meta(name="description", content="")
	link(rel="stylesheet", href="css/main.css")
	script(src="js/main.js")