// Default Font
@mixin f-default {}

// Ruble Simbol Font
$ruble-font: 'ALSRubl';
$ruble-font-src: url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype'),
url('../fonts/ALSRubl.woff') format('woff'),
url('../fonts/ALSRubl.ttf') format('truetype'),
url('../fonts/ALSRubl.svg#ALSRubl') format('svg');
@font-face {
	font-family: $ruble-font;
	src: $ruble-font-src;
	font-weight: normal;
	font-style: normal;
}
@mixin ruble {
	font-family: $ruble-font;
}
