html {
	height: 100%
}
body {
	@extend html;
	@include f-default;
}
.wrapper {
	min-height: 100%;
	position: relative;
}
/* Typography
-------------------------------------------------- */
a {
	text-decoration: underline;
	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}
b, strong {}
ul {
	&>li {

	}
}
table {
	tr {}
	td {}
}
h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
/* /Typography */

/* Buttons
-------------------------------------------------- */
.btn {
	outline: none;
	text-decoration: none;
	text-align: center;
	border: none;
	display: inline-block;
	&-md {
		min-height: 45px;
		padding: 14px 23px 8px;
		border-radius: 5px;
	}
}
/* /Buttons */